@import './../node_modules/office-ui-fabric-react/dist/sass/_References.scss';
// @import './../node_modules/office-ui-fabric-core/dist/css/fabric.min.css';
@import './../node_modules/office-ui-fabric-react/dist/sass/Fabric.scss';


.row {
  @include ms-Grid-row;
  @include ms-fontColor-white;
  background-color: $ms-color-themeDark;
  // padding: 20px;
}

.column {
  @include ms-Grid-col;
  @include ms-lg6;
  @include ms-xl6;
}

.App {
  text-align: center;
  background: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
